* {
    box-sizing: border-box;
}

/* ESTILOS FUENTES titulos ,etc*/

.cursive {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 10px;

}



h1 {
    font-size: 5em;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    animation-name: mianimacion;
    animation-duration: 4s;
    
}

@keyframes mianimacion {
    0% {transform: scale(0.2);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
    
}


h2 {
    font-size: 2.2em;
    padding: 15px;
}

p { 
    font-size: 1.25em;
}

ul {
    list-style: none;
}
li {
    font-size: 1.10em;
    
}

h3 {
    
    font-size: 1.7em;
    padding: 20px;
}

#contacto h2 {
    font-size: 2.5rem;
}

/* SPAN  */

.span1 {
    color: rgb(131, 26, 230);
}

/* 
BODY */

body {
    margin: 0;
}
/* scroll behevior */

html {scroll-behavior: smooth;}

/* BOTONES */

button {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid rgba(0 , 0, 0, 0);
    box-shadow: 2px 2px 10px  rgba(0,0,0,0);
    background-color: blueviolet;
    color: white;


}

button .icono {
    font-size: 3.5rem;
    animation-name: anbutton;
    animation-duration: 2s;
    
}


button:hover {
    background-color: rgb(52, 4, 97);
}

.container {
    max-width: 1400px;
    margin: auto;
}

/* HEADER */

header {
    background-color: rgba(245,245,245);
    
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.40em;
    animation-name: animacionmenu;
    animation-duration: 2s;
   
    
 }
 @keyframes animacionmenu {
    0% {transform: scale(0.2);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
    
}





header .container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0px;

}

header a {
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* HERO */

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    background-image:url(/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* PROYECTOS */

#soypatricio {
    display: flex;
    flex-direction: column;
}



#mis-proyectos {
 
 text-align: center;
 padding: 100px;
 width: auto;
 min-width: 29em;
 background-color: rgb(0,0,0.5);
 border-radius: 2px;
 
 

}




#mis-proyectos .container {

  padding: 100px 20px;
  background-color: rgb(35, 35, 35);
  border-radius: 20px;
  
  
  
    
}

#mis-proyectos h2 {
    margin-top: 0;
    padding: 5px;
    color: white;
    font-size: 2.1rem;
    text-align: center;
    
    

}

#mis-proyectos p {
    display: none;
    color: white;
}

#mis-proyectos .tarjeta {
    padding: 50px 0px;
    margin: 15px;
    border-radius: 20px;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 1px 3px 2px black;
    
}

.tarjeta:first-child {
    background-image: url(/img/tarjeta1.jpg);
    width: auto;
    
    
    
  
}

.tarjeta:nth-child(2) {
    background-image: url(/img/misweb1.jpg);
    
  
}

.tarjeta:last-child {

    background-image: url(/img/tarjeta3.jpg);
    
    
    
}

/* CONTACTO */

#contacto .container {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 150px 12px;
    
}

#contacto li {
    margin: 15px 0px;
    font-size: 1em;
    font-weight: bold;
    

}

/* HERRAMIENTAS  */

#herramientas h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;

}

#herramientas .container {
    
    
    text-decoration: none;
    padding: 150px;
    font-size: 35px;
    color: rgb(97, 97, 177);
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

#herramientas .container:hover{

    color:rgba(101,33,165);
    
    border-radius: 20px;
    cursor: pointer;
    transition-delay: 0.1s;

    
}



/* FOOTER  */

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(30,30,30);
    height: 30vh;
    
}

#footer p {

    color: white;
    font-size: 2.3vh;
    
}

#footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


/* MEDIA  Q*/
@media (min-width: 720px){
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
        
    }
    header .nav {
        flex-direction: row;
        align-items: right;
        padding-right: 10px;
    }

    #soypatricio .container { 
        margin-top: 10px;
         
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        
    }

    #soypatricio .texto {
        width: 50%;
        padding: 0px 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        max-width: 600px;
        
        
        
    }
    #soypatricio .imgcontainer {

        animation-name: animacionavatar;
        animation-duration: 3s;
       
    
    }
    
    @keyframes animacionavatar {
        0% {transform: scale(0.2);}
        50% {transform: scale(1.1);}
        100% {transform: scale(1);}
    }


    #mis-proyectos p {
        display: block;
        color: rgb(150, 95, 150);
        padding: 50px;
        font-size: 1em;
    }

    #mis-proyectos .proyectos {
       display: flex;
       justify-content: center;
    }

    #mis-proyectos .tarjeta {
        padding: 20px;
        box-shadow: 3px 3px solid black;
    }

.textop {
    
    padding: 50px 15px;
    text-align: center;
}
.formulario {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 40vw;
    
}
/* CONTACTO  */

#contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
/* BOTON INSTAGRAM */
.iconc {
    color: blueviolet;
    padding: 10px;
    font-size: 1.5em;
}

.instaicon {
    color: blueviolet;
    padding: 5px;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    font-style: none;
    color: white;
   
    
}






 

 







